# VCS
.git
.gitignore

# Secrets
.env
.env.local

# Dev & build artifacts
tests/
test/
*.spec.*
*.test.*
*.log
*.md

# Local dependencies
node_modules/

# IDE/editor configs
.vscode/
.idea/

# Docker
Dockerfile
docker-compose.yml
.dockerignore