@import "tailwindcss";
@import "tw-animate-css";

:root {
  --bg-prime: #0d0d0d;
  --bg-sec: #1a1a1a;
  --txt-prime: #fffffe;
  --txt-sec: #a7a9be;
  --btn-prime: #262626;
  --btn-hover: #333333;
  --btn-sec: #39ff14;
  --accent: #ff6b35;

}

@theme {
  --color-bg-prime: var(--bg-prime);
  --color-bg-sec: var(--bg-sec);
  --color-txt-prime: var(--txt-prime);
  --color-txt-sec: var(--txt-sec);
  --color-btn-prime: var(--btn-prime);
  --color-btn-sec: var(--btn-sec);
  --color-accent: var(--accent);
  --color-btn-hover: var(--btn-hover);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  background-color: var(--bg-sec);
  color: var(--txt-prime);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

h1 {
  font-size: clamp(2.5rem, 1rem + 4vw, 4.5rem);
  line-height: clamp(1.1, 1em + 0.3vw, 1.3);
}

h3 {
  font-size: clamp(1.75rem, 1rem + 2vw, 2.5rem);
  line-height: 1.2;
}

p {
  font-size: clamp(1rem, 0.8rem + 0.5vw, 1.25rem);
  line-height: 1.7;
  max-width: 65ch;
}

.icon-lg {
  width: clamp(2.5rem, 1.5rem + 3vw, 4rem);
  height: clamp(2.5rem, 1.5rem + 3vw, 4rem);
}

.icon-md {
  width: clamp(1.75rem, 1rem + 2vw, 2.5rem);
  height: clamp(1.75rem, 1rem + 2vw, 2.5rem);
}

.icon-sm {
  width: clamp(1.25rem, 0.8rem + 1vw, 1.75rem);
  height: clamp(1.25rem, 0.8rem + 1vw, 1.75rem);
}
